@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}
/* =========================== //Font Families ================================== */
/* ------ Padauk --------- */
@font-face {
  font-family: "Padauk Regular";
  font-style: normal;
  src: url("/src/assets/fonts/Padauk/Padauk-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Padauk Bold";
  font-style: normal;
  src: url("/src/assets/fonts/Padauk/Padauk-Bold.ttf");
  font-display: swap;
}

/* ------ Satoshi --------- */
@font-face {
  font-family: "Satoshi Regular";
  font-style: normal;
  src: url("/src/assets/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Satoshi Bold";
  font-style: normal;
  src: url("/src/assets/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf");
  font-display: swap;
}
/* =========================== Font Families //================================== */
